.imgs{
    width: 100%
}
.imgs img{
    display: block;
    width: 100%;
}
/* title */
.title{
    width: 100%;
    border-bottom: 1px solid #cccccc;
}
.title ul {
    width: 80%;
    margin: 0 auto;
}
.lihover{
    border-bottom: 6px solid red !important;
    color: #5e6d82 !important;
}
.title ul li{
    width: 8.44%;
    float: left;
    text-align: center;
    font-size: 24px;
    margin-right: 6.82%;
    height: 86px;
    line-height: 86px;
    border-bottom: 6px solid #fff;
    color: #999999;
    font-weight: bold;
    font-family: MicrosoftYaHei-Bold;
}
@media screen and (max-width: 1440px) {
    .title ul li{
        font-size: 20px;
    }
}
@media screen and (max-width: 1210px) {
    .title ul li{
        font-size: 18px;
    }
}
@media screen and (max-width: 1084px) {
    .title ul li{
        font-size: 16px;
    }
}
@media screen and (max-width: 970px) {
    .title ul li{
        font-size: 14px;
    }
}
.title ul li:hover{
    cursor: pointer;
}
.title ul li:nth-last-child(1){
    margin-right: 0px;
}
/* content */
.content {
    width: 100%;
    padding-bottom: 40px;
}
.content .none{
    display: none;
    width: 80%;
    margin: 30px auto 0px auto;
}
.content .Subscript{
    margin-bottom: 20px;
}
.content .Subscript span{
    display: inline-block;
}
.divblock{
    display: block !important;
}
/* contentLeft */
.content .contentLeft{
    width: 27.96%;
}
.contentLeft ul li{
    width: 80%;
    border: 1px solid #ccc;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 18px;
}
.contentLeft ul li:hover{
    cursor: pointer;
}
.leftLiClick{
    background: red;
    color: #fff;
    cursor: pointer;
}
/* contentRight */
.content .contentRight{
    width: 72%;
    border-left: 1px solid #4c4c4c;
    min-height: 200px;
    padding-left: 7.52%;
}
.contentRight .top li {
    height: 46px;
    line-height: 46px;
    margin-bottom: 24px;
    border-bottom: 1px dashed #2e2e2e;
    font-size: 14px;
}
.contentRight .top li a{
    color: #2e2e2e;
}

.contentRight .top li:last-child{
    margin-bottom: 40px;
}
.contentRight .top li span{
    display: block;
    float: right;
}
.contentRight .top li span i{
    margin-left: 20px;
}
/* contentRight paging */
.paging{
    width: 100%;
}
.paging .bottom{
    margin-left: 20%;
}
.paging .jump{
    margin-right: 0px !important;
}
.paging .bottom li{
    float: left;
    margin-right: 20px;
    height: 30px;
    line-height: 30px;
}
.paging .bottom li:nth-child(1),.paging .bottom li:nth-child(2),.paging .bottom li:nth-child(3),.paging .bottom li:nth-child(4){
    cursor: pointer;
}

.paging .jump span{
    display: inline-block;
}
.paging .jump input{
    width: 40px;
    display: inline-block;
}
.newsRight .top span:hover{
    cursor: pointer;
}

/* 公司简介 */
.companyProfile{
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #c2c2c2;
}
.companyProfile div{
    width: 195px;
    padding-left: 45px;
    padding-right: 45px;
    height: 193px;
    padding-top: 48px;
    padding-bottom: 48px;
    float: left;
    font-size: 36px;
    text-align: center;
    border: 1px solid #e6e6e6;
    background: #fcfcfc;
    font-weight: inherit;
    font-family: 'Courier New', Courier, monospace;
    position: relative;
}
.companyProfile div span{
    display: block;
    width: 50px;
    height: 30px;
    position: absolute;
    top: -8px;
    right: -18px;
    border-bottom: 1px solid #e6e6e6;
    background: #fff;
    transform: rotate(45deg);
    -ms-transform:rotate(45deg); 	/* IE 9 */
    -moz-transform:rotate(45deg); 	/* Firefox */
    -webkit-transform:rotate(45deg); /* Safari 和 Chrome */
    -o-transform:rotate(45deg); 	/* Opera */
}
.companyProfile P {
    width: 69%;
    float: left;
    margin-left: 10%;
    font-size: 16px;
    text-indent: 32px;
    line-height: 30px;
}
@media screen and (max-width: 1190px) {
    .companyProfile P {
        width: 60%;
    }
}
.companyProfile:nth-of-type(4) P{
    padding-top: 10px;
    text-indent: 0px;
}
.companyProfile:nth-of-type(3) P{
    padding-top: 50px;
}
.companyProfile:nth-of-type(2) P{
    padding-top: 50px;
}

/* 企业文化 */
.enterprise{
    width: 100%;
    margin-top: 50px;
    padding: 50px;
    background: #fcfcfc;
}
.enterprise li{
    padding-bottom: 10px;
    border-bottom: 1px solid #c2c2c2;
    margin-bottom: 100px;
    line-height: 50px;
    height: 50px;
}
.enterprise li:last-child{
    margin-bottom: 0px;
}
.enterprise li p{
    float: left;
    font-family: SourceHanSansCN-ExtraLight;
    font-size: 38px;
    color: #5e6d82;
    font-weight: 100;
}
.enterprise li p i{
    font-size: 30px;
    font-weight: 100;
}
.enterprise li span{
    display: block;
    float: right !important;
    margin-bottom: 0px !important;
    font-size: 14px;
    text-align: end;
}

/* 员工关怀 */
.careTop{
    width: 100%;
    margin-top: 50px;
    padding-bottom: 40px;
    border-bottom: 1px solid #c2c2c2;
}
.careTop .left{
    width: 53%;
    float: left;
    margin-right: 10%;
}
.careTop .left li{
    margin-bottom: 20px;
    position: relative;
}
.careTop .left li:hover{
    cursor: pointer;
}
.careTop .left li i{
    display: none;
    width:0;
    height:0;
    border-top:30px solid transparent;
    border-bottom:30px solid transparent;
    border-left:60px solid #f8f8f8;
    position: absolute;
    right: -43px;
    top: 13px;
}
.careToplihover{
    background: #f8f8f8;
}
.careTopIhover{
    display: block !important;
}
.careBottomlihover{
    background: #f8f8f8;
    position: relative;
}
.careBottomIhover{
    display: block !important;
    width:0;
    height:0;
    border-top:30px solid transparent;
    border-bottom:30px solid transparent;
    border-left:60px solid #f8f8f8;
    position: absolute;
    right: -43px;
    top: 13px;
}
.careTop .left li:last-child{
    margin-bottom: 0px;
}
.careTop .left li .divlist{
    width: 81%;
    padding-left: 5%;
    float: left;
}
.careTop .left li .date{
    display: block;
    float: right;
    width: 17%;
    height: 86px;
    line-height: 86px;
    padding-right: 20px;
}
.careTop .left li .divlist h1{
    width: 13%;
    float: left;
    height: 86px;
    line-height: 86px;
    font-size: 50px;
    font-weight: 100;
    font-family: SourceHanSansCN-ExtraLight;   
    margin-right: 5%; 
}
.careTop .left li .divlist div{
    width: 72%;
    float: left;
    height: 86px;
}
.careTop .left li .divlist div h6{
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    font-weight: 100;
    font-family: SourceHanSansCN-ExtraLight;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.careTop .left li .divlist div p{
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.careTop .left li a{
    color: #2e2e2e;
}
.careTop .right{
    width: 37%;
    float: left;
}
.careTop .right img{
    display: none;
    height: 300px;
    width: 100%;
}
.careBootom{
    width: 100%;
    margin-top: 50px;
    padding-bottom: 40px;
}
.careBootom .left{
    width: 53%;
    float: left;
    margin-right: 10%;
}
.careBootom .left li{
    margin-bottom: 20px;
}
.careBootom .left li:hover{
    cursor: pointer;
}
.careBootom .left li i{
    display: none;
}
.careToplihover{
    background: #f8f8f8;
    position: relative;
}
.careTopIhover{
    display: block !important;
    width:0;
    height:0;
    border-top:30px solid transparent;
    border-bottom:30px solid transparent;
    border-left:60px solid #f8f8f8;
    position: absolute;
    right: -43px;
    top: 13px;
}
.caraImg{
    display: block !important;
}
.careBootom .left li:last-child{
    margin-bottom: 0px;
}
.careBootom .left li .divlist{
    width: 85%;
    padding-left: 5%;
    float: left;
}
.careBootom .left li .date{
    display: block;
    float: right;
    width: 15%;
    height: 86px;
    line-height: 86px;
    padding-right: 20px;
}
.careBootom .left li .divlist h1{
    width: 13%;
    float: left;
    height: 86px;
    line-height: 86px;
    font-size: 50px;
    font-weight: 100;
    font-family: SourceHanSansCN-ExtraLight;   
    margin-right: 5%; 
}
.careBootom .left li .divlist div{
    width: 72%;
    float: left;
    height: 86px;
}
.careBootom .left li .divlist div h6{
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    font-weight: 100;
    font-family: SourceHanSansCN-ExtraLight;
    margin-top: 10px;
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.careBootom .left li .divlist div p{
    width: 100%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.careBootom .right{
    width: 37%;
    float: left;
}
.careBootom .right img{
    display: none;
    height: 300px;
    width: 100%;
}
/* 人才发展 */
.development{
    width: 100% !important;
}
.development .Subscript{
    width: 80%;
    margin: 30px auto 0px auto;
}
.developmentTop{
    width: 80%;
    margin: 30px auto 0px auto;
    position: relative;
}
.developmentBootmsamll{
    width: 80%;
    margin: 0px auto;
}
.developmentTop i{
    width: 100%;
    border-bottom: 1px solid #cccccc;
    position:absolute;
    top:198px;
    left:0px;
}
.developmentTop li{
    width: 25%;
    float: left;
    position: relative;
    padding-top: 220px;
    height: 460px;
}
.developmentTop li:hover{
    cursor: pointer;
}
.developmentTop li img{
    width: 100%;
    height: 200px;
    display: none;
}
.developmentTop li p{
    text-align: center;
    font-size: 14px;
    line-height: 30px;
    transition: 1s;
}
.deveTopnoe{
    display: block !important;
}
.developmentTop li span{
    display: block;
    position: absolute;
    height: 60px;
    line-height: 60px;
    top: 140px;
    left: 40%;
    border-bottom: 4px solid #cccccc;
    font-weight: 100;
    font-family: SourceHanSansCN-ExtraLight;
    transition: .7s;
}
.developon{
    border-bottom: none !important;
    border-top: 4px solid #cccccc;
    top: 197px !important;
}
.deveOn{
    background: #f8f8f8;
    padding-top: 0px !important;
}
.devePon{
    padding-top: 50px;
}
.developmentBootm{
    padding: 30px 0px;
    background: #f8f8f8;
    margin-top:40px;
}
.developmentBootm .left{
    width: 30%;
    float: left;
    margin-right: 10%;
    padding-top: 15px;
}
.developmentBootm .left img{
    width: 100%;
}
.developmentBootm .right{
    width: 60%;
    float: left;
}
.developmentBootm .right h4{
    font-size: 50px;
    font-weight: 100;
    font-family: SourceHanSansCN-ExtraLight;
    padding-top: 20px;
    padding-bottom: 30px;
}
.developmentBootm .right p{
    line-height: 30px;
}

/* 加入我们 */
.Joinus{
    margin-top: 100px;
    padding-bottom: 100px;
}
.Joinus .left{
    width: 20%;
    margin-right: 25%;
    float: left;
}
.Joinus .left h1{
    font-size: 50px;
    font-family: SourceHanSansCN-ExtraLight;
    font-weight: 100;
    height: 80px;
    line-height: 80px;
}
.Joinus .left span{
    font-size: 14px;
    color: #2e2e2e;
    font-family: MicrosoftYaHeiLight;
    font-weight: 100;
}
.Joinus .right{
    width: 600px;
    height: 296px;
    float: left;
    position: relative;
}
.Joinus .right .rightsmall{
    width: 600px;
    height: 296px;
    overflow: hidden;
    position: relative;
}
.Joinus .right .rightsmall a{
    color: #2e2e2e;
}
.Joinus .right span:hover{
    cursor: pointer;
}
.Joinus .right .on{
    width: 0;
    height: 0;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-right:40px solid #cecece;
    position: absolute;
    left: -70px;
    top: 95px;
}
.Joinus .right .next{
    width: 0;
    height: 0;
    border-top:20px solid transparent;
    border-bottom:20px solid transparent;
    border-left:40px solid #cecece;
    position: absolute;
    right: -70px;
    top: 95px;
}
.Joinus .rightsmall ul{
    width: 0px;
    position: absolute;
    transition: .7s;
    left: 0px;
}
.Joinus .right li{
    width: 180px;
    float: left;
    margin-right: 30px;
}
.Joinus .right li:last-child{
    margin-right: 0px;
}
.Joinus .right li div{
    width: 178px;
    height: 180px;
    border: 1px solid #cccccc;
}
.Joinus .right li h4{
    font-size: 20px;
    font-family: SourceHanSansCN-ExtraLight;
    height: 68px;
    line-height: 68px;
    text-align: center;
    font-weight: 100;
}
.Joinus .right li h5{
    font-size: 14px;
    font-family: MicrosoftYaHeiLight;
    height: 24px;
    line-height: 24px;
    text-align: center;
    font-weight: 100;
}

/* 荣誉资质 */
.honorTab{
    width:100%;
    margin-top: 20px;
}
.honorTab li{
    width: 50%;
    float: left;
    text-align: center;
    font-size: 30px;
    height: 70px;
    line-height: 70px;
}
.honorTab li:hover{
    cursor: pointer;
}
.Tablion{
    border-bottom: 2px solid red;
}
.honor3{
    display: none;
}
.honor{
    margin-top: 30px;
    width: 100%;
    padding-bottom: 42px;
    border-bottom: 1px solid #cecece;
}
.honor .left{
    width: 40%;
    float: left;
    height: 466px;
    margin-right: 10%;
}
.honor .left img{
    width: 100%;
}
.honor .right{
    width: 50%;
    float: left;
    padding-top: 40px;
}
.honor .right h3{
    font-size: 48px;
    height: 168px;
    line-height: 168px;
    font-family: MicrosoftYaHeiLight;
    font-weight: 100;
}
.honor .right p{
    font-size: 14px;
    color: #2e2e2e;
    font-family: MicrosoftYaHeiLight;
    height: 40px;
    line-height: 40px;
}
.honor2{
    width: 100%;
    display: none;
}
.honor2 ul{
    width: 100%;
    border-bottom: 1px solid #cecece;
    margin-bottom: 84px;
}
.honor2 ul li{
    width: 24.333%;
    float: left;
    height: 280px;
    padding: 24px;
    margin-right: 13%;
}
.honor2 ul li:last-child{
    margin-right: 0px !important;
}
.honor2 li:hover{
    background: #cecece;
    cursor: pointer;
}
.honor2 li img{
    width: 99%;
    height: 232px;
}
.honorbl{
    display: block;
}