*{padding: 0;margin: 0;}
.banner{width: 100%;min-height: 558px; position: relative}
.content_title{width: 100%;height: 90px;border-bottom: 2px solid rgb(229,229,229);text-align: center; }
.content_title li {display: inline-block;width:30%;font-size: 24px;line-height: 83px;border-bottom: 5px solid rgb(255,255,255)}
.select{border-color: rgb(198,4,4) !important;}
.content_contact span{margin: 0 auto;display: none;}
.show{display: block !important;}
.form{width: 100%;height: 694px;margin: 0 auto;padding-left: 10%;}
.form div {width:50%;margin: 0 auto 20px;position: relative;}
.inp{width: 83%;height: 40px; display: block;    line-height: 40px;  font-size: 15px;}
label {  color: #4e4e4e; float: left;  line-height: 40px;  width: 17%; ;  }
.form div em {  color: red;  position: absolute;  right: 70px;  bottom: 0;  font-size: 14px;  }
.form_icons{position: absolute;    right: 5px;  top: 5px;}
.top{top: 10px !important;}
.text_box{width:83%;height: 144px; resize: none;overflow: hidden;}
.sumbit{width: 150px;height: 40px;line-height: 40px;background: rgb(198,4,4);color: #ffffff;font-size: 16px;display: block;margin: 50px auto 0;text-align: center;cursor: pointer;}
.contact_ul{height: 340px;width: 80%; margin: 0 auto;}
.contact_ul>li{display: inline-block;width: 24.5%; position: relative;transition: all 1s;}
.contact_img{display: block;margin: 70px auto;}
.suspension{width: 100%;height: 0;position: absolute;bottom: 0;opacity:0;background: rgb(248,248,248)}
.suspension_text{color: #666666;text-align: center;font-size: 16px;}
.contact_ul li:hover .suspension{opacity:1;height: 100%;transition: all 0.3s ease;border-radius: 10px}
#allmap{ width: 100%;  height: 420px;  overflow: hidden;  margin: 0;  font-family: "微软雅黑";}