
.centerText a{
 color: blue !important;
}
.centerTitle>img{
	padding: 10px;margin-bottom: -17px;
}
.articleImg {
	width: 100%;
	margin-top: 0.8rem;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: space-between;
	flex-flow: wrap;
}
.oneimg {
	width: 33%;
	position: relative;
	float: left;
	height: 419px;
	margin: 0px .5% 10px 0px;
}
.oneimg:nth-child(5) {
	margin-right: 0px;
}
.displayHide {
	width: 200px;
	height: 50px;
	line-height: 44px;
	left: 50%;
	top: 50%;
	color: white;
	font-weight: bold;
	margin: -25px 0 0 -100px;
	text-align: center;
	border: 3px solid rgba(255,255,255,0.7);
	position: absolute;
	background: rgba(190,189,190,.7);
	z-index: 2;
}
.mengTitle {
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 5;
	color: white;
	background: rgba(116,115,116,0.5);
	display: none;
}
.oneimg:hover .mengTitle {
	display: block;
}
.oneimg:hover .displayHide {
	display: none;
}
.mengHeader {
	text-align: center;
	margin: 10% 10% 5% 10%;
	color: white;
	font-weight: bold;
	font-size: 25px;
	border-bottom: 1px solid white;
	padding-bottom: 15px;
}
.mengArticle {
	text-align: center;
	font-weight: bold;
	margin: 5% 10% 5% 10%;
	text-indent: 2em;
	line-height: 25px;
}
.xq {
	text-align: center;
	margin: 0% 10% 0% 10%;
	width: 30%;
	margin: 0 auto;
	border: 1px solid white;
	height: 40px;
	line-height: 40px;
}
.oneimg>img {
	width: 100%;
	height: 100%;
}
/*详情*/
.articleTimg {
	width: 75%;
	height: 550px;
	margin: 0 auto;
}
.articleTimg>img {
	width: 100%;
	height: 100%;
}
.articleTitle {
	width: 75%;
	margin: 0 auto;
}
.articleTitle>p {
	text-indent: 2em;
	line-height: 30px;
	margin: 10px 0;
}
.articleTwo {
	height: 450px;
	width: 75%;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
}
.articleLeft {
	width: 48%;
}
.articleRight {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 48%;
}
.articleLeft >img {
	width: 100%;
	height: 100%;
}
.flexThree {
	padding: 10px;
	height: 31%;
	border: 8px solid #f4f4f4;
}
.spanBlock {
	display: inline-block;
	width: 10px;height: 10px;
	background: black;
}
.spanTitle {
	color: black;
	font-weight: bold;
	display: inline-block;
}
.divTitle {
	border-top: 1px solid gainsboro;
	margin-top: 10px;
	padding-top: 10px;
}
.footerText {
	width: 75%;
	margin: 30px auto;
	text-indent: 2em;
	line-height: 30px;
}
.redIv {
	display: inline-flex;
	width: 24px;
	height: 5px;
	background: darkred;
	margin: 28px 0px -4px 12.5%;
}
.detailsTitle{
	width:60%;text-align: center;margin: 30px;font-size: 30px;color: #5e6d82;font-weight: bold;border-bottom:1px solid #4c4c4c;margin: 0 auto;padding: 28px;
}

