/* 技术中心 */
.content{margin-bottom: 100px;}
.content_title{width: 100%;height: 90px;border-bottom: 2px solid rgb(229,229,229);text-align: center; }
.content_title li {display: inline-block;width:20%;color: #888;font-size: 22px;line-height: 83px;border-bottom: 5px solid rgb(255,255,255);cursor: pointer;}
.content_title .select{border-color: rgb(198,4,4) !important;color: #333;}
.content>div{width: 61%; margin: 0 auto;display: none;}
.show{display: block;}
.current-position{font-size: 12px;margin: 22px 0;color: #666;}
.item{display: inline-block;width: 100%;background: #fcfcfc;position: relative;}
.item img{width: 50%;float: left;}
.item .trigon{position: absolute;top: 50%;left: 50%;transform: translate(0%, -50%);width: 0;height: 0;border-width: 10px;border-style: solid;border-color: transparent transparent transparent #d8dada;}
.introduce{display: inline-block;width: 50%;padding-left: 5%;padding-top: 5%;height: 100%;margin-bottom: 0;}
.e-tit{font-size: 12px;color: #666;}
.c-tit{display: block;margin-bottom: 22px;font-size: 16px;font-weight: bold;}
.intro{font-size: 12px;color: #666;line-height: 2;}
.right img{float: right;}
.right .trigon{left: 47.7%;border-color: transparent #d8dada transparent transparent;}
.tech-item{background: #fcfcfc;padding: 4%;height: auto;margin-bottom: 10px;}
.tech-item .num{margin-bottom: 50px;}
.num .order{display: inline-block;width: 40px;height: 40px;text-align: center;color: #fff;font-size: 32px;line-height: 1.2;background: #333;font-family: SourceHanSansCN ExtraLight;font-weight: 100;}
.num .star{float: right;}
.star img{width: 26px;margin-right: 6px;}
.tit-con{display: block;border-bottom: 1px solid #c2c2c2;font-family: SourceHanSansCN ExtraLight;font-weight: 100;font-size: 32px;color: #5e6d82;}
.tit .desc{display: inline-block;margin-top: 10px;font-family: MicrosoftYaHei;color: #666;font-size: 12px;}
.tit em{display: inline-block;padding: 2px 10px;border: 1px solid #888;font-size: 12px;color: #8c8c8c;margin-top: 20px;}
.list{width: 30%;display: inline-block;text-align: center;margin-right: 4.35%;padding: 40px 20px;margin-top: 10px;cursor: pointer;}
.list:last-child{margin-right: 0;}
.list img{width: 70px;height: 70px;padding-bottom: 24px;box-sizing: content-box;border-bottom: 3px solid transparent;}
.list i{display: inline-block;width: 100%;height: 1px;background: #c2c2c2;margin-bottom: 14px;}
.list p{margin-top: 16px;font-family: SourceHanSansCN ExtraLight;font-weight: 100;font-size: 22px;}
.list:hover img{border-bottom: 3px solid #c2c2c2;}
.list:hover{border: 1px solid #c2c2c2;}